html {
	max-height: 100%;
	object-fit: contain;
}

body {
	font-family: Roboto;
	font-size: 100%;
}

#container {
  min-width: 300px;
  margin: 0 15px;
}

#insert_btn {
	text-align: right;
}

.spacer {
	padding-top: 75px;
}

.no-bottom-margin {
	margin-bottom: 0px !important;
}

#hostname-error {
	display: none !important;
}